.reset-appearance,
.visually-hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

img {
  height: auto;
}

.is-horizontal .tabs__trigger {
    display: none;
}

.ui.field .description.ui.message {
  margin-bottom: 1rem;
}

ul.ui.list {
  list-style: none ;
  list-style-image: none ;
  list-style-type: none ;
  margin-left: 0;
}

.main-menu-top-container form.search-block-form {
  .form-actions {
    visibility: hidden;
    position: absolute;
  }
  form {
    padding: 0 !important;
    margin: 0 !important;
  }
  .form-item {
    padding: 0 !important;
    margin: 0 !important;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  #page {
    flex: 1;
  }
}

.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.site-branding__logo {
  display: inline-block;
  width: auto;
}
