<{{ settings.semantica_wrapper }} class="ui grid {{ settings.semantica_outer_style }}">
  <div class="row">
    <div class="{{ settings.twelve_css_attributes }}">
      {{content.twelve}}
    </div>
    <div class="{{ settings.four_css_attributes }}">
      {{content.four}}
    </div>
  </{{ settings.semantica_wrapper }}>
</{{ settings.semantica_wrapper }}>
