{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
  <div id="page">
    <div id="page-wrapper" class="ui segment vertical basic">
      <header id="header" class="ui container" role="banner" aria-label="{{ 'Site header'|t}}">
        <div class="ui segment basic vertical">
          {{ page.header }}
        </div>
      </header>
      {% if page.navigation %}
        <div class="ui container">
          {{ page.navigation }}
        </div>
      {% endif %}
      {% if page.highlighted %}
        <div class="highlighted ui segment basic vertical">
          <aside class="layout-container section clearfix" role="complementary">
            {{ page.highlighted }}
          </aside>
        </div>
      {% endif %}
      {% if page.featured_top %}
        <div class="featured-top ui segment basic vertical">
          <aside class="featured-top__inner section layout-container clearfix" role="complementary">
            {{ page.featured_top }}
          </aside>
        </div>
      {% endif %}
    </div>
    <div class="ui segment vertical basic">
      <div id="main-wrapper" class="ui grid container stackable">
        <div id="main" class="row ui segment basic vertical">
          {{ page.breadcrumb }}
          {% if page.sidebar_first %}
            <div id="sidebar-first" class="{{ semantica_sidebar_grid }} wide column sidebar">
              <aside class="aside" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            </div>
          {% endif %}
          <main id="content" class="{{ semantica_content_grid }} wide column" role="main">
            <section class="section ui segment basic vertical">
              <a id="main-content" tabindex="-1"></a>
              {{ page.content }}
            </section>
          </main>
          {% if page.sidebar_second %}
            <div id="sidebar-second" class="{{ semantica_sidebar_grid }} wide column sidebar">
              <aside class="aside" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
   </div>
   <div class="ui segment basic vertical">
      <div class="featured-bottom">
        <aside class="aside secondary" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
  </div>
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or page.footer_bottom %}
  <div class="pusher mobile only">
    <footer class="ui black inverted vertical footer segment">
      <div class="layout-container ui container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
          <div class="site-footer__top clearfix">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
          </div>
        {% endif %}
        {% if page.footer_bottom %}
          <div class="ui black inverted center aligned container">
            {{ page.footer_bottom }}
          </div>
        {% endif %}
      </div>
    </footer>
  </div>
  {% endif %}
