{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav role="navigation" class="ui segment basic" aria-labelledby="system-breadcrumb">
    <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class="ui breadcrumb">
    {% for item in breadcrumb %}
        {% if item.url %}
           <a href="{{ item.url }}" class="section">{{ item.text }}</a> {% if loop.index > 0 and loop.length > 1 and not loop.last %}<i class="right chevron icon divider"></i> {% endif %}
        {% else %}
          {{ item.text }}
        {% endif %}
        {% if not loop.last %}
          <div class="divider"></div>
        {% endif %}
    {% endfor %}
    </div>
  </nav>
{% endif %}
