{{ machine_name }}.mobile:
  label: mobile
  mediaQuery: 'only screen and (max-width: 767px)'
  weight: 0
  multipliers:
    - 1x

{{ machine_name }}.tablet:
  label: tablet
  mediaQuery: 'only screen and (min-width: 768px) and (max-width: 991px) '
  weight: 1
  multipliers:
    - 1x

{{ machine_name }}.computer:
  label: monitor
  mediaQuery: 'only screen and (min-width: 992px)'
  weight: 1
  multipliers:
    - 1x
