name: {{ theme }}
type: theme
base theme: semantica
description: {{ description }}
package: Custom
core: 8.x
libraries:
- {{ machine_name }}/global-styles
# Uncomment if you have JS that will be used on all pages of the site.
# - {{ machine_name }}/global-scripts
# libraries-override:
#  core/assets/vendor/normalize-css/normalize.css: false

regions:
  header: Header
  content: Content
  navigation: Navigation
  highlighted: Highlighted
  featured_top: Featured top
  sidebar_first: 'Sidebar first'
  sidebar_second: 'Sidebar second'
  footer_first: Footer first
  footer_second: Footer second
  footer_third: Footer third
  footer_bottom: Footer bottom
  featured_bottom_first: Featured bottom first
  featured_bottom_second: Featured bottom second
  featured_bottom_third: Featured bottom third

libraries-override:
  semantica/local: {{ machine_name }}/local
