{
  "name": "{{ machine_name }}",
  "version": "1.0.0",
  "description": "Subtheme from semantica",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "install": "bower i"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "semantic-ui": "^2.2.2"
  },
  "devDependencies": {
    "better-console": "^0.2.4",
    "del": "^2.2.0",
    "gulp": "^3.9.1",
    "gulp-autoprefixer": "^3.1.0",
    "gulp-chmod": "^1.3.0",
    "gulp-chug": "^0.5.1",
    "gulp-clone": "^1.0.0",
    "gulp-concat": "^2.6.0",
    "gulp-concat-css": "^2.2.0",
    "gulp-copy": "0.0.2",
    "gulp-dedupe": "0.0.2",
    "gulp-flatten": "^0.3.0",
    "gulp-header": "^1.7.1",
    "gulp-help": "~1.6.1",
    "gulp-if": "^2.0.0",
    "gulp-jshint": "^2.0.0",
    "gulp-less": "^3.0.5",
    "gulp-load-plugins": "^1.2.2",
    "gulp-minify-css": "^1.2.4",
    "gulp-notify": "^2.2.0",
    "gulp-plumber": "^1.1.0",
    "gulp-print": "^2.0.1",
    "gulp-rename": "^1.2.2",
    "gulp-replace": "^0.5.4",
    "gulp-rtlcss": "^1.0.0",
    "gulp-sass": "^2.3.1",
    "gulp-uglify": "^1.5.3",
    "gulp-util": "^3.0.7",
    "gulp-watch": "^4.3.5",
    "jshint-stylish": "^2.1.0",
    "load-grunt-tasks": "^3.5.0",
    "main-bower-files": "^2.13.0",
    "node-sass": "^3.6.0",
    "require-dot-file": "^0.4.0",
    "run-sequence": "^1.1.5",
    "yamljs": "^0.2.7"
  }
}
