<article {{ attributes.addClass(layout_class, 'ui', 'card') }}>
  {% if content.image %}
  <div class="image">
    {{content.image}}
  </div>
  {% endif %}
  <div class="content">

    {% if content.content_title %}
    <div class="header">
      {{ content.content_title }}
    </div>
    {% endif %}

    {% if content.meta %}
    <div class="meta">
      {{ content.meta }}
    </div>
    {% endif %}

    {% if content.contents %}
      {{ content.contents }}
    {% endif %}

  </div>
  {% if (content.footer_right) and (content.footer_left) %}
  <div class="extra content">
    {% if content.footer_right %}
    <span class="right floated">
      {{content.footer_right}}
    </span>
    {% endif %}
    {% if content.footer_left %}
    <span>
      {{content.footer_left}}
    </span>
    {% endif %}
  </div>
  {% endif %}
  {% if content.actions %}
  <span class="ui buttons attached top">
    {{content.actions}}
  </span>
  {% endif %}
</article>
