{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  <div class="ui segment">
    <div class="ui items">
      <div class="ui item">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo ui image small">
          <img src="{{ site_logo }}" class="ui tiny image" alt="{{ 'Home'|t }}" />
        </a>
        <div class="content">
          <div class="header">
            <h1><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></h1>
          </div>
          {% if site_slogan %}
            <p>
              <div class="site-branding__slogan">{{ site_slogan }}</div>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
