{%
  set outer_wrapper_class = [
    'ui',
    'grid',
    layout_class,
    settings.semantica_outer_wrapper,
    settings.semantica_outer_style
  ]
%}
{%
  set left_attributes = attributes().addClass( [
    'ui',
    settings.semantica.left.container,
    settings.semantica.left.styles
  ])
%}
{%
  set right_attributes = attributes().addClass([
    'ui',
    settings.semantica.right.container,
    settings.semantica.right.styles
  ])
%}

<{{ settings.outer_wrapper }} {{ attributes.addClass(outer_wrapper_class) }}>
  {% if content.top|render %}
    <div class="sixteen wide column">
      <{{ settings.wrappers.top }} class="ui segment basic">{{ content.top }}</{{ settings.wrappers.top }}>
    </div>
  {% endif %}
  {% if left %}
  <div class="four wide column">
    <div class="ui segment basic">{{ left }}</div>
  </div>
  {% endif %}
  {% if left and right %}
    <div class="eight wide column">
      <div class="ui segment basic">{{ dscontent }}</div>
    </div>
  {% elseif not left and not right %}
    <div class="sixteen wide column">
      <div class="ui segment basic">{{ dscontent }}</div>
    </div>
  {% else %}
    <div class="twelve wide column">
      <div class="ui segment basic">{{ dscontent }}</div>
    </div>
  {% endif %}
  {% if right %}
    <div class="four wide column">
      <div class="ui segment basic">{{ right }}</div>
    </div>
  {% endif %}
  {% if bottom %}
    <div class="sixteen wide column">
      <div class="ui segment basic">{{ bottom }}</div>
    </div>
  {% endif %}
</{{ settings.outer_wrapper }}>
