<article class="ui item">
  {% if content.image %}
  <div class="image">
    {{content.image}}
  </div>
  {% endif %}
  <div class="content">
    {% if content.content_title %}
    <div class="header">
      {{ content.content_title }}
    </div>
    {% endif %}

    {% if content.meta %}
    <div class="meta">
      {{ content.meta }}
    </div>
    {% endif %}


    <div class="description">
      {% if content.contents and content.contents_right %}
        <div class="ui two column grid stackable">
          <div class="column">{{ content.contents }}</div>
          <div class="column">{{ content.contents_right }}</div>
        </div>
      {% elseif content.contents_right %}
        {{ content.contents_right }}
      {% elseif content.contents %}
        {{ content.contents }}
      {% endif %}
    </div>
    {% if content.extra %}
      <div class="extra">{{ content.extra  }}</div>
    {% endif %}
  </div>
</article>
