{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'ui',
    'message',
    'small'
  ]
%}
{% for type, messages in message_list %}
  {%
    set typeClass = [
      type == 'error' ? 'negative',
      type == 'warning' ? 'warning',
      type == 'status' ? 'positive'
    ]
  %}
  <div class="ui segment vertical basic">
    <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(typeClass).addClass(classes)|without('role', 'aria-label') }}>
        {% if status_headings[type] %}
          <div class="header">{{ status_headings[type] }}</div>
        {% endif %}
          <ul class="list">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
    </div>
  </div>
{% endfor %}
