<div style="position: relative; clear : both;" >
  <div class="ui move right reveal">
    <div class="visible content">
      {{ content.left }}
    </div>
    <div class="hidden content">
      {{ content.right }}
    </div>
  </div>
</div>
