
{# new_indicator_timestamp #}
<div class="comment">
  <a class="avatar">
    {% if comment.field_bcrm_sip_direction.value %}
      <img class="ui circular tiny image" src="{{ base_path ~ directory }}/images/icons/calls/{{comment.field_bcrm_sip_direction.value }}.png" />
    {% else %}
      {{ user_picture }}
    {% endif %}
  </a>
  <div class="content">
      {% if comment.subject.value %} <a class="author">{{ comment.subject.value }}</a> {% endif %}
      <div class="metadata"><span class="date">{{ comment.created.value | date('H:m d.m.Y') }}</span></div>
      <div class="text">
      {% if comment.field_bcrm_sip_event_id.value %}
        <p> {{ comment.field_bcrm_sip_endpoint.value }}</p>
        <p>{{ comment.field_bcrm_sip_direction.value }}</p>
        <p><strong>{{ "Duration" }}</strong> {{ comment.field_bcrm_sip_duration.value  | number_format(2, '.', ',')   }} seconds</p>
      {% else %}
        {% if comment.comment_body.value %} <p>{{ comment.comment_body.value }}</p> {% endif %}
      {% endif %}
    </div>
  </div>
</div>
