{%
  set outer_wrapper_class = [
    'ui',
    'grid',
    'two',
    'columns',
    layout_class,
    settings.semantica_outer_wrapper,
    settings.semantica_outer_style
  ]
%}
{%
  set left_attributes = attributes().addClass( [
    'ui',
    settings.semantica.left.container,
    settings.semantica.left.styles
  ])
%}
{%
  set right_attributes = attributes().addClass([
    'ui',
    settings.semantica.right.container,
    settings.semantica.right.styles
  ])
%}
{%
  set top_attributes = attributes().addClass([
    'ui',
    settings.semantica.top.container,
    settings.semantica.top.styles
  ])
%}
{%
  set bottom_attributes = attributes().addClass([
    'ui',
    settings.semantica.bottom.container,
    settings.semantica.bottom.styles
  ])
%}

<{{ settings.outer_wrapper }} {{ attributes.addClass(outer_wrapper_class) }}>
  {% if content.top|render %}
    <div class="sixteen wide column">
      <{{ settings.wrappers.top }} {{ top_attributes }}>{{ content.top }}</{{ settings.wrappers.top }}>
    </div>
  {% endif %}
  {% if content.left|render and content.right|render %}
    <div class="eight wide column">
      <{{ settings.wrappers.left }} {{ left_attributes }}>{{ content.left }}</{{ settings.wrappers.left }}>
    </div>
    <div class="eight wide column">
      <{{ settings.wrappers.right }} {{ right_attributes }}>{{ content.right }}</{{ settings.wrappers.right }}>
    </div>
  {% elseif left|render %}
    <div class="sixteen wide column">
      <{{ settings.wrappers.left }} {{ left_attributes }}>{{ content.left }}</{{ settings.wrappers.left }}>
    </div>
  {% else %}
    <div class="sixteen wide column">
      <{{ settings.wrappers.right }} {{ right_attributes }}>{{ content.right }}</{{ settings.wrappers.right }}>
    </div>
  {% endif %}
  {% if bottom|render %}
    <div class="sixteen wide column">
      <{{ settings.wrappers.bottom }} {{ bottom_attributes }}>{{ content.bottom }}</{{ settings.wrappers.bottom }}>
    </div>
  {% endif %}
</{{ settings.outer_wrapper }}>
