{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{%
    set path = base_path_directory ~ directory
%}
{{ menus.menu_links(items, attributes, 0, path, is_logged_in,search_form ) }}
{% macro menu_links(items, attributes, menu_level, path, is_logged_in, search_form) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div{{ attributes.addClass('ui','menu','main-menu','stackable').removeClass('vertical') }}>
      <div class="ui container">
    {% else %}
      <div class="menu">
    {% endif %}
    {% for item in items %}
        {{ link(item.title, item.url,item.attributes.addClass('item') ) }}
        {% if item.below %}
          <div class="item">{{ menus.menu_links(item.below, attributes, menu_level + 1, base_path) }}</div>
        {% endif %}
    {% endfor %}
    <div class="fitted right item">
    {% if menu_level == 0 and is_logged_in %}
      <div class="ui internally celled equal width grid">
        {% if menu_level == 0 and search_form %}
          <div class="item">{{search_form}}</div>
          <div class="item"><a href="{{ path('user.logout') }}" class="ui labeled icon button red fluid"><i class="sign out icon"></i>{{ "Logout" | t }}</a></div>
        {% else %}
          <div class="item"><a href="{{ path('user.logout') }}" class="ui labeled icon button red fluid"><i class="sign out icon"></i>{{ "Logout" | t }}</a></div>
        {% endif %}
      </div>
    {% else %}
      <div class="ui internally celled equal width grid">
        {% if menu_level == 0 and search_form %}
          <div class="item">{{search_form}}</div>
          <div class="item"><a href="{{ path('user.login') }}" class="ui labeled icon button green fluid"><i class="sign in icon"></i>{{ "Login" | t }}</a></div>
        {% else %}
          <div class="item"><a href="{{ path('user.login') }}" class="ui labeled icon button green fluid"><i class="sign in icon"></i>{{ "Login" | t }}</a></div>
        {% endif %}
      </div>
    {% endif %}
    </div>
    </div>
    </div>
  {% endif %}
{% endmacro %}
