{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}
<div{{ attributes.addClass('ui','segment','basic') }}>
  {{ data.preview }}
  {# Render widget data without the image preview that was output already. #}
  <p>{{ data|without('preview') }}</p>
</div>
