{#
/**
 * @file
 * Theme override to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 */
#}
{% if types is not empty %}
  <div class="ui menu fluid vertical">
    {% for type in types %}
      <a href="{{ type.url }}" class="item">
        <h4 class="ui header">{{ type.name }}</h4>
        {% if type.description %}<p>{{ type.description }}</p>{% endif %}
      </a>
    {% endfor %}
  </div>
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
